.schedule-header {
    position: relative;
    color: #fff;
    margin: 0;
    padding: 24px;
    padding-bottom: 64px;

}

.schedule-header::before, .schedule-header::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
}

.schedule-header::before {
    background: url('/images/schedule-bg.png') no-repeat center center;
    background-size: cover;
    z-index: -2;
}

.schedule-header::after {
    background: var(--primary-color);
    opacity: .8;
    z-index: -1;
}

.schedule-header__title {
    font-size: 36px;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

.schedule-header__subtitle {
    font-weight: 300;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.button {
    display: inline-block;
    background-color:rgb(250, 205, 53);
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 8px;
    color: #306acb;
}
.schedule .schedule-header .button{
    float: right;
}
.schedule-table {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.schedule-user {
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 99px;
    color: #212121;
    height: 48px;
    padding-right: 12px;
    display: flex;
    align-items: center;
    position: relative;
}

.schedule-user--active {
    background: var(--accent-color);
}

.schedule-user__avatar {
    border-radius: 50%;
    margin-right: 12px;
    height: 48px;
    width: 48px;
    object-fit: cover;
}

.schedule-user__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.schedule-table__content {
    position: relative;
    flex: 1;
}

.schedule-table-columns {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.schedule-table-columns__column {
    border-right: #d7d7d7 1px solid;
    margin: -20px 0;
    text-align: center;
    color: #fff;
    font-weight: 300;
}

.schedule {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.window {
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.46);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    padding: 20px 0;
    box-sizing: border-box;
    overflow: auto;

}

.window .in_window{
    margin: auto;
    width: 400px;
    padding:20px;
    background-color: white;

}
.window .in_window .close{
    float: right;
    background-image: url("/images/cancel.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    cursor: pointer;

}