/*@import "schedule.css";*/
@import "messages";


:root {
  --primary-color: #1E79FA;
  --accent-color: #ffea00;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #eee;
  padding-top: 64px;
  display: flex;
  flex-direction: column;
}


*, *::before, *::after {
  box-sizing: border-box;
}

.step{
  min-height: calc(100vh - 64px);
}
.step.main{
  background-image: url('/images/background1.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: -64px;

}
.step.main .back{
  background-color: rgba(128, 124, 255, 0.5);
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  height: 64px;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 0;
  flex-shrink: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
}

.header--transparent {
  background: transparent;
}

.step.main .back .content {
  flex-grow: 1;
  display: flex;
  color: white;
}

.step.main .back .content .centered {
  flex-grow: 1;
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  padding: 0 24px;

}

.step.main .back .content .row {
  flex-grow: 1;
}

.step.main .back .content .row.connect {
  flex-grow: 3;
  margin: 0 auto 0 0;
}

.step.main .back .content .row.connect .subject {
  font-size: 60px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;

}

.step.main .back .content .row.connect .subject i {
  font-style: normal;

}

.step.main .back .content .row.connect .text {
  font-size: 23px;

}

.step.main .back .content .row.go {
  text-align: center;
  flex-grow: 2;

}

.step.main .back .content .row.view {
  size: 15px;
  margin: 0 auto;
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
}
.step.main .back .content{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.step.main .back .content .connect_inner {
  float: left;
}
.step.main .back .content .centered{
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 24px;
}
.step.main .back .content .row {
  flex-grow: 1;
  color: white;
  font-size: 25px;
}
.step.main .back .content .row.connect{
  flex-grow: 3;
  margin: 0 auto 0 0;
}

.step.main .back .content .row.connect .subject{
  font-size: 60px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}
.step.main .back .content .row.connect .subject i{
  font-style: normal;

}
.step.main .back .content .row.go {
  text-align:center;
  flex-grow: 2;
}
.step.main .back .content .row.view {
  font-size: 15px;
  text-align:center;
  flex-grow: 0;
  padding-bottom: 20px;
  flex-shrink: 0;
}
.step.main .back .content .row.down {
  text-align:center;
  font-size: 60px;
}
.step.time_line{
  position: absolute;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
}
.step.time_line .time_header{
  color: white;
  min-width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image:  linear-gradient(rgba(30, 121, 250, .5) 0%, rgba(30, 121, 250, .5) 100%), url(/images/background2.png);
  background-size: cover;
  position: relative;
  z-index: 2;
}
.step.time_line .time_header .date{
  font-size: 30px;
  padding: 20px 0 0 20px;
}

.step.time_line .time_header .wdate {
  font-size: 18px;
  padding-left: 20px;
}
.step.time_line .time_header .hours{
  padding-left:  40px;
  margin-top: 50px;
  flex-direction: row;
  width: 100%;
  display: flex;
  text-align: center;
}

.step.time_line .time_header .hour{
  padding: 0 5px;
  float: left;
  min-width: 49px;
}
.step.time_line .schedule {
  counter-reset: schetchik;
  color: white;
  float: left;
  min-width: 100%;
  position: absolute;
  z-index: 2;

}

.step.time_line .table{
  display: flex;
  position: absolute;
  padding-left:  40px;
  flex-direction: row;
  width: 100%;
  height: 100vh;

}
.step.time_line .table .hour_table{
  min-width: 49.81px;
  border-left: 1px solid rgba(0, 0, 0, 0.39);
  width: 100%;
}
.step.time_line .table .hour_mesto_table{
  height: 40px;

}

.step.time_line .schedule .number {
  width: 40px;
  height: 40px;
  text-align: center;
  float: left;
  position: absolute;
  color: #212121;
  left: 0;
}

.step.time_line .schedule .row{
  counter-increment: schetchik;
  padding-left: 40px;
  margin-top: 10px;
}

.step.time_line .schedule .row .number:before{
  content: counter(schetchik);
}
.step.time_line .schedule .row .user{
  background-color: black;
  border-radius: 40px;
  color: white;
  height: 40px;
  float: left;
  margin: 0;
  padding: 0;
  text-align: left;
  padding-right: 12px;
}

.step.time_line .schedule .row .user .name{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.step.time_line .schedule .row .user .avatar{
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-left: -1px;
  margin-right: 10px;
  float: left;
  flex-shrink: 0;
  flex-grow: 0;
}


.brand {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
}

a {
  text-decoration: none;
}

.user {
  display: inline-flex;
  text-transform: capitalize;
  background: #ffffff;
  height: 48px;
  border-radius: 48px;
  font-size: 14px;
  align-items: center;
  margin: 6px;
  padding-right: 16px;
  color: #212121;
}

.user-avatar {
  border-radius: 50%;
  height: 48px;
  width: 48px;
  margin-right: 16px;
}

.header-links {

}
.header-links a {
  display: inline-block;
  margin: 0 16px;
  color: #ffffff;
  text-decoration: none;
}

