body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #eee;
}

* {
    box-sizing: border-box;
}

.step {
    min-height: 100vh;

}

.step.main {
    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.step.main .back {
    background-color: rgba(4,0,255,0.5);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    height: 64px;
    background-color: #337CF2;
    color: #fff;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 0;
}

.header--transparent {
    background: transparent;
}

.step.main .back .content {
    flex-grow: 1;
    display: flex;
    color: white;
}

.step.main .back .content .centered {
    flex-grow: 1;
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    padding: 0 24px;

}

.step.main .back .content .row {
    flex-grow: 1;
}

.step.main .back .content .row.connect {
    flex-grow: 3;
    margin: 0 auto 0 0;
}

.step.main .back .content .row.connect .subject {
    font-size: 60px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;

}

.step.main .back .content .row.connect .subject i {
    font-style: normal;

}

.step.main .back .content .row.connect .text {
    font-size: 23px;

}

.step.main .back .content .row.go {
    text-align: center;
    flex-grow: 2;

}

.step.main .back .content .row.view {
    size: 15px;
    margin: 0 auto;
    text-align: center;
}

.brand {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
}

a {
    text-decoration: none;
}

.user {
    display: inline-flex;
    text-transform: capitalize;
    background: #ffffff;
    height: 48px;
    border-radius: 48px;
    font-size: 14px;
    align-items: center;
    margin: 6px;
    padding-right: 16px;
    color: #212121;
}

.user-avatar {
    border-radius: 50%;
    height: 48px;
    width: 48px;
    margin-right: 16px;
}

.header-links {

}
.header-links a {
    display: inline-block;
    margin: 0 16px;
    color: #ffffff;
    text-decoration: none;
}